
<footer>
        <div class="container">
            <div class="wrapper">
                <section>
                    <h6>Test</h6>
                    <ul>
                        <li></li>
                    </ul>
                </section>
                <section>
                    <h6>Test</h6>
                    <ul>
                        <li></li>
                    </ul>
                </section>
                <section>
                    <h6>Test</h6>
                    <ul>
                        <li></li>
                    </ul>
                </section>
                <section>
                    <h6>Test</h6>
                    <ul>
                        <li></li>
                    </ul>
                </section>
            </div>
        </div>
    </footer>