@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-lg-8">
        <h2>Connecting developers with their users shouldn't take time!</h2>
        <h6>Sign up now to keep in touch with your users (if you're a developer) or help your favourite app get even better by supporting it with issues and help answering polls</h6>
    </div>
    <div class="col-lg-4">
        <div class="box login">
            <h2>Login</h2>
            <form action="/user/login" id="register" method="POST" parsley-validate novalidate>

                <section>
                    <input type="text" id="username" class="fill" name="username" placeholder="Username / email" required />
                </section>
                <section>
                    <input type="password" id="password" class="fill" name="password" required placeholder="Password" />
                </section>
                @if (!string.IsNullOrEmpty(ViewBag.Error))
                {
                    <section>
                        @ViewBag.Error
                    </section>
                }
                <p class="margin margin-top-15">
                    <a href="/user/register" class="button button-primary"><span>Register</span></a>
                    <button type="submit" class="button button-success pull-right"><span>Login</span></button>
                </p>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-4">
    </div>
    <div class="col-lg-4">
    </div>
    <div class="col-lg-4">
    </div>
</div>

