@font-face {
  font-family: 'RobotoRegular';
  src: url('font/Roboto-Regular-webfont.eot');
  src: url('font/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('font/Roboto-Regular-webfont.woff') format('woff'), url('font/Roboto-Regular-webfont.ttf') format('truetype'), url('font/Roboto-Regular-webfont.svg#RobotoRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoItalic';
  src: url('font/Roboto-Italic-webfont.eot');
  src: url('font/Roboto-Italic-webfont.eot?#iefix') format('embedded-opentype'), url('font/Roboto-Italic-webfont.woff') format('woff'), url('font/Roboto-Italic-webfont.ttf') format('truetype'), url('font/Roboto-Italic-webfont.svg#RobotoItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoBold';
  src: url('font/Roboto-Bold-webfont.eot');
  src: url('font/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('font/Roboto-Bold-webfont.woff') format('woff'), url('font/Roboto-Bold-webfont.ttf') format('truetype'), url('font/Roboto-Bold-webfont.svg#RobotoBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoBoldItalic';
  src: url('font/Roboto-BoldItalic-webfont.eot');
  src: url('font/Roboto-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'), url('font/Roboto-BoldItalic-webfont.woff') format('woff'), url('font/Roboto-BoldItalic-webfont.ttf') format('truetype'), url('font/Roboto-BoldItalic-webfont.svg#RobotoBoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoCondensed';
  src: url('font/Roboto-Condensed-webfont.eot');
  src: url('font/Roboto-Condensed-webfont.eot?#iefix') format('embedded-opentype'), url('font/Roboto-Condensed-webfont.woff') format('woff'), url('font/Roboto-Condensed-webfont.ttf') format('truetype'), url('font/Roboto-Condensed-webfont.svg#RobotoCondensed') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoCondensedItalic';
  src: url('font/Roboto-CondensedItalic-webfont.eot');
  src: url('font/Roboto-CondensedItalic-webfont.eot?#iefix') format('embedded-opentype'), url('font/Roboto-CondensedItalic-webfont.woff') format('woff'), url('font/Roboto-CondensedItalic-webfont.ttf') format('truetype'), url('font/Roboto-CondensedItalic-webfont.svg#RobotoCondensedItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoBoldCondensed';
  src: url('font/Roboto-BoldCondensed-webfont.eot');
  src: url('font/Roboto-BoldCondensed-webfont.eot?#iefix') format('embedded-opentype'), url('font/Roboto-BoldCondensed-webfont.woff') format('woff'), url('font/Roboto-BoldCondensed-webfont.ttf') format('truetype'), url('font/Roboto-BoldCondensed-webfont.svg#RobotoBoldCondensed') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoBoldCondensedItalic';
  src: url('font/Roboto-BoldCondensedItalic-webfont.eot');
  src: url('font/Roboto-BoldCondensedItalic-webfont.eot?#iefix') format('embedded-opentype'), url('font/Roboto-BoldCondensedItalic-webfont.woff') format('woff'), url('font/Roboto-BoldCondensedItalic-webfont.ttf') format('truetype'), url('font/Roboto-BoldCondensedItalic-webfont.svg#RobotoBoldCondensedItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoThin';
  src: url('font/Roboto-Thin-webfont.eot');
  src: url('font/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'), url('font/Roboto-Thin-webfont.woff') format('woff'), url('font/Roboto-Thin-webfont.ttf') format('truetype'), url('font/Roboto-Thin-webfont.svg#RobotoThin') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoThinItalic';
  src: url('font/Roboto-ThinItalic-webfont.eot');
  src: url('font/Roboto-ThinItalic-webfont.eot?#iefix') format('embedded-opentype'), url('font/Roboto-ThinItalic-webfont.woff') format('woff'), url('font/Roboto-ThinItalic-webfont.ttf') format('truetype'), url('font/Roboto-ThinItalic-webfont.svg#RobotoThinItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoLight';
  src: url('font/Roboto-Light-webfont.eot');
  src: url('font/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'), url('font/Roboto-Light-webfont.woff') format('woff'), url('font/Roboto-Light-webfont.ttf') format('truetype'), url('font/Roboto-Light-webfont.svg#RobotoLight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoLightItalic';
  src: url('font/Roboto-LightItalic-webfont.eot');
  src: url('font/Roboto-LightItalic-webfont.eot?#iefix') format('embedded-opentype'), url('font/Roboto-LightItalic-webfont.woff') format('woff'), url('font/Roboto-LightItalic-webfont.ttf') format('truetype'), url('font/Roboto-LightItalic-webfont.svg#RobotoLightItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoMedium';
  src: url('font/Roboto-Medium-webfont.eot');
  src: url('font/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'), url('font/Roboto-Medium-webfont.woff') format('woff'), url('font/Roboto-Medium-webfont.ttf') format('truetype'), url('font/Roboto-Medium-webfont.svg#RobotoMedium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoMediumItalic';
  src: url('font/Roboto-MediumItalic-webfont.eot');
  src: url('font/Roboto-MediumItalic-webfont.eot?#iefix') format('embedded-opentype'), url('font/Roboto-MediumItalic-webfont.woff') format('woff'), url('font/Roboto-MediumItalic-webfont.ttf') format('truetype'), url('font/Roboto-MediumItalic-webfont.svg#RobotoMediumItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoBlack';
  src: url('font/Roboto-Black-webfont.eot');
  src: url('font/Roboto-Black-webfont.eot?#iefix') format('embedded-opentype'), url('font/Roboto-Black-webfont.woff') format('woff'), url('font/Roboto-Black-webfont.ttf') format('truetype'), url('font/Roboto-Black-webfont.svg#RobotoBlack') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoBlackItalic';
  src: url('font/Roboto-BlackItalic-webfont.eot');
  src: url('font/Roboto-BlackItalic-webfont.eot?#iefix') format('embedded-opentype'), url('font/Roboto-BlackItalic-webfont.woff') format('woff'), url('font/Roboto-BlackItalic-webfont.ttf') format('truetype'), url('font/Roboto-BlackItalic-webfont.svg#RobotoBlackItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*@media(max-width:767px){}
@media(min-width:768px){}
@media(min-width:992px){}
@media(min-width:1200px){}*/
.clearfix {
  content: '';
  display: block;
  clear: both;
}
body {
  background: #eeeeee;
  color: #333333;
  font: 17px/26px 'RobotoRegular', Arial, sans-serif;
  padding-top: 94px;
}
.background.error {
  background: #b94a48;
}
.background.warning {
  background: #f89406;
}
ul.unstyled {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.unstyled.inline li {
  display: inline-block;
}
h1 {
  font-family: 'RobotoLight', Arial, sans-serif;
  margin: 5px 0 10px 0;
  font-size: 50px;
  line-height: 52px;
}
h1 .strong {
  font-family: 'RobotoBoldCondensed', Arial, sans-serif;
}
h2 {
  font-family: 'RobotoLight', Arial, sans-serif;
  margin: 5px 0 10px 0;
  font-size: 44px;
  line-height: 46px;
}
h2 .strong {
  font-family: 'RobotoBoldCondensed', Arial, sans-serif;
}
h3 {
  font-family: 'RobotoLight', Arial, sans-serif;
  margin: 5px 0 10px 0;
  font-size: 38px;
  line-height: 40px;
}
h3 .strong {
  font-family: 'RobotoBoldCondensed', Arial, sans-serif;
}
h4 {
  font-family: 'RobotoLight', Arial, sans-serif;
  margin: 5px 0 10px 0;
  font-size: 32px;
  line-height: 34px;
}
h4 .strong {
  font-family: 'RobotoBoldCondensed', Arial, sans-serif;
}
h5 {
  font-family: 'RobotoLight', Arial, sans-serif;
  margin: 5px 0 10px 0;
  font-size: 26px;
  line-height: 28px;
}
h5 .strong {
  font-family: 'RobotoBoldCondensed', Arial, sans-serif;
}
h6 {
  font-family: 'RobotoLight', Arial, sans-serif;
  margin: 5px 0 10px 0;
  font-size: 20px;
  line-height: 22px;
}
h6 .strong {
  font-family: 'RobotoBoldCondensed', Arial, sans-serif;
}
input,
textarea,
select,
label {
  background: #ffffff;
  border: 0;
  padding: 10px;
  width: 320px;
  resize: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid transparent;
  transition: all ease 0.5s;
  /*&:hover {
        background: darken(@containerBackground,2%);
    }*/

}
input:focus,
textarea:focus,
select:focus,
label:focus {
  outline: none;
  border-bottom: 1px solid #1fa67a;
}
input.fill,
textarea.fill,
select.fill,
label.fill {
  display: block;
  width: 100%;
}
input.parsley-error,
textarea.parsley-error,
select.parsley-error,
label.parsley-error {
  background: #f1dcdc;
  color: #b94a48;
}
input[type=checkbox] {
  width: auto;
}
ul.parsley-error-list {
  display: none;
}
a {
  color: #467888;
  text-decoration: none;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
a:hover {
  color: #8ab5c3;
}
footer {
  background: #333333;
  margin-top: 50px;
}
footer .container .wrapper {
  margin-top: 25px;
  margin-bottom: 25px;
  color: #aeaeae;
}
footer .container .wrapper section {
  float: left;
  width: 25%;
}
footer .container .wrapper section:last-child:after {
  content: '';
  display: block;
  clear: both;
}
footer .container .wrapper h6 {
  text-shadow: 0 1px 0 #fff;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
.container .inner {
  background: #fff;
  padding: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
.form-row {
  padding: 10px;
}
.form-row .inner {
  padding: 10px;
  background: #fff;
}
.form-row.half {
  float: none;
  width: 100%;
}
@media (min-width: 768px) {
  .form-row.half {
    float: left;
    width: 50%;
  }
}
@media (min-width: 992px) {
  .form-row.half {
    float: left;
    width: 50%;
  }
}
.form-row.half:after {
  content: '';
  display: block;
  clear: both;
}
.form-row-group:after {
  content: '';
  display: block;
  clear: both;
}
section.slideout-menu {
  position: fixed;
  top: 47px;
  left: -200px;
  width: 200px;
  bottom: 0;
  background: #fff;
  box-sizing: border-box;
  border-right: 1px solid #dedede;
  z-index: 10;
  transition: all ease 0.25s;
}
section.slideout-menu.open {
  left: 0;
}
section.slideout-menu nav {
  padding: 10px;
}
section.slideout-menu nav a {
  display: block;
}
section.slideout-menu ul.projects {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
section.slideout-menu ul li a {
  display: block;
  padding: 5px;
}
section.slideout-menu ul li.button {
  text-align: center;
  margin-top: 20px;
}
section.slideout-menu ul li.button a {
  background: #468847;
  color: #fff;
  padding: 10px 15px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  border: 0;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  border-radius: 0;
}
section.slideout-menu ul li.button a i {
  margin-right: 5px;
}
section.slideout-menu ul li.button a.btn-inline {
  display: inline;
}
section.slideout-menu ul li.button a.btn-fill {
  display: block;
  width: 100%;
}
section.slideout-menu ul li.button a:hover {
  background: #4f9950;
  color: #fff;
}
section.slideout-menu ul li.button a:active,
section.slideout-menu ul li.button a:focus,
section.slideout-menu ul li.button a:activesection.slideout-menu ul li.button a:focus {
  background: #3d773e;
  color: #fff;
  box-shadow: none;
  outline: none;
}
section.slideout-menu ul li.button a:disabled {
  background: #acd4ad;
  cursor: default;
}
section.slideout-menu .nav-item {
  display: none;
  margin-bottom: 2px;
}
@media (max-width: 480px) {
  section.slideout-menu .nav-item {
    display: block;
  }
}
section.slideout-menu .user {
  text-align: center;
  border-bottom: 1px solid #dedede;
  padding: 10px;
  transition: all ease 0.5s;
}
section.slideout-menu .user .user-image {
  position: relative;
}
section.slideout-menu .user .user-image i {
  opacity: 0;
  position: absolute;
  left: 40%;
  top: 27%;
  color: #fff;
  transition: all ease 0.5s;
}
section.slideout-menu .user .user-image img {
  border-radius: 70px;
  border: 5px solid #fff;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
}
section.slideout-menu .user .user-displayname {
  margin: 0;
}
section.slideout-menu .user:hover {
  background: #f3f3f3;
}
section.slideout-menu .user:hover i {
  opacity: 1;
}
.project-logo {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.project-logo i {
  opacity: .2;
  position: absolute;
  left: 32%;
  top: 29%;
  color: #fff;
  transition: all ease 0.5s;
}
.project-logo img {
  height: 104px;
  width: 104px;
}
.project-logo:hover i {
  opacity: 1;
}
img.user-image,
.project-image {
  border-radius: 70px;
  border: 5px solid #fff;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
}
img.user-image.smaller,
.project-image.smaller {
  width: 35px;
  border-width: 2px;
}
img.project-image.smaller {
  width: 24px;
  height: 24px;
  border-width: 2px;
}
nav.top-nav {
  top: 0;
  left: 0;
  right: 0;
  background: #1fa67a;
  border-bottom: 1px solid #198864;
  color: #fff;
  padding: 0 10px;
  position: fixed;
  z-index: 10000;
  cursor: default;
}
nav.top-nav .primary {
  display: inline-block;
}
nav.top-nav .primary p {
  margin: 0;
  padding: 0;
  display: inline-block;
  transition: all ease 0.3s;
  cursor: pointer;
}
nav.top-nav .primary p:hover {
  background: rgba(255, 255, 255, 0.2);
}
nav.top-nav .primary p:active {
  background: rgba(255, 255, 255, 0.4);
}
nav.top-nav .primary p.slideout-toggler {
  padding: 3px 5px 3px 6px;
  border-radius: 25px;
}
nav.top-nav .primary p.slideout-toggler.open {
  background: rgba(255, 255, 255, 0.4);
}
nav.top-nav .primary p.logo {
  padding: 10px;
}
nav.top-nav .middle {
  display: inline-block;
}
nav.top-nav .middle .nav-item {
  margin: 0;
  padding: 0;
  transition: all ease 0.3s;
  cursor: pointer;
  display: inline-block;
}
@media (max-width: 480px) {
  nav.top-nav .middle .nav-item {
    display: none;
  }
}
nav.top-nav .middle .nav-item a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 10px;
}
nav.top-nav .middle .nav-item a:hover {
  background: rgba(255, 255, 255, 0.2);
}
nav.top-nav .middle .nav-item a:active {
  background: rgba(255, 255, 255, 0.4);
}
nav.top-nav .secondary {
  float: right;
}
nav.top-nav h3.logo {
  color: #333;
  text-shadow: 0 1px 0 #fff;
  font-family: 'Emblema One', cursive;
  display: inline-block;
  margin: 7px 0;
}
nav.top-nav.cover {
  position: absolute;
  z-index: 1000;
}
nav.top-nav.cover .container {
  background: rgba(0, 0, 0, 0.5);
  padding: 0 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
nav.top-nav.cover .container a {
  color: #fff;
}
nav.top-nav.cover .container a.hover {
  color: #467888;
}
nav.top-nav.cover h1.logo {
  color: #fff;
}
nav.top-nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
nav.top-nav ul:after {
  content: '';
  display: block;
  clear: both;
}
nav.top-nav ul li {
  float: left;
  vertical-align: middle;
  padding: 14px 5px;
}
nav.top-nav ul li.active {
  background: #fff;
}
nav.top-nav ul li a {
  display: block;
}
nav.top-nav ul li a .badge {
  background: #343434;
  font-size: 12px;
  color: #fff;
  display: inline-block;
  margin-left: 3px;
  padding: 0px 5px;
  border-radius: 11px;
  line-height: 22px;
  vertical-align: top;
  text-align: center;
  min-width: 23px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
nav.top-nav ul li a img {
  vertical-align: bottom;
  border-radius: 15px;
  height: 26px;
}
.jumbo {
  max-height: 600px;
  overflow: hidden;
  text-align: center;
}
.jumbo img {
  max-width: 100%;
  display: block;
}
.wrapper .nav {
  background: rgba(255, 255, 255, 0.5);
}
.wrapper .nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.wrapper .nav ul:after {
  content: '';
  display: block;
  clear: both;
}
.wrapper .nav ul li {
  float: left;
}
.wrapper .nav ul li.active {
  background: #fff;
}
.wrapper .nav ul li a,
.wrapper .nav ul li p {
  color: #333333;
  padding: 15px 20px;
  display: block;
}
.wrapper .nav ul li a .badge,
.wrapper .nav ul li p .badge {
  background: #343434;
  font-size: 12px;
  color: #fff;
  display: inline-block;
  margin-left: 3px;
  padding: 0px 5px;
  border-radius: 11px;
  line-height: 22px;
  vertical-align: top;
  text-align: center;
  min-width: 23px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
.wrapper .nav ul li a:hover,
.wrapper .nav ul li p:hover {
  background: #fff;
}
.wrapper .nav ul li p {
  margin: 0;
  cursor: default;
}
.wrapper .inner {
  background: #fff;
}
.wrapper .inner:after {
  content: '';
  display: block;
  clear: both;
}
.content {
  width: 70%;
  margin-right: 2.5%;
  float: left;
  position: relative;
  min-height: 470px;
}
.content.full {
  width: 100%;
  margin-right: 0;
  float: none;
}
.issue-wrapper .panel {
  position: relative;
  margin-top: -5px;
}
.sidebar {
  width: 25%;
  margin-left: 2.5%;
  float: left;
}
.sidebar .menu {
  margin-top: 15px;
}
.sidebar:after {
  content: '';
  display: block;
  clear: both;
}
.box {
  background: #eeeeee;
  padding: 15px;
}
.box section {
  margin-bottom: 10px;
}
.box section label {
  display: block;
}
/*.btn {
    .button();

    &.btn-success {
        .button(@success);
    }

    &.btn-error {
        .button(@error);
    }

    &.btn-warning {
        .button(@warning);
    }

    &.btn-primary {
        .button(@primary);
    }
}*/
.gravatar {
  vertical-align: top;
  width: 40px;
  height: 40px;
  display: none;
}
/* ------------------------- Password strength ----------------------- */
.password-strength {
  background: #ddd;
  width: 320px;
  height: 4px;
  position: relative;
  margin-bottom: 9px;
}
.password-strength .bar {
  position: absolute;
  background: blue;
  height: 4px;
}
.password-strength .separator {
  position: absolute;
  width: 2px;
  background: #fff;
  height: 4px;
}
/*TYPEHEAD*/
#autocompleteUser-footer {
  display: none;
}
.tt-dropdown-menu {
  width: 100%;
  background: #fff;
}
.tt-dropdown-menu #autocompleteUser-footer {
  display: block;
}
.tt-dropdown-menu #autocompleteUser-footer p {
  margin: 0;
  text-align: center;
  font-size: 13px;
  line-height: 15px;
}
.tt-dropdown-menu .tt-suggestions .tt-suggestion {
  padding: 5px;
}
.tt-dropdown-menu .tt-suggestions .tt-suggestion.tt-is-under-cursor {
  background: #eee;
}
.tt-dropdown-menu .tt-suggestions .tt-suggestion img.userImage {
  vertical-align: middle;
  margin-right: 7px;
}
.tt-dropdown-menu .tt-suggestions .tt-suggestion p.userName {
  display: inline-block;
  margin: 0;
}
.team-member {
  border-bottom: 1px solid #eee;
}
.team-member:last-child {
  border-bottom: none;
}
.team-member img {
  float: left;
  margin-right: 10px;
}
.team-member div:after {
  content: '';
  display: block;
  clear: both;
}
.team-member div p {
  margin: 0;
}
.admin-wrapper {
  /*margin-top: 30px;*/

}
.new-issue {
  background: #efefef;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
.new-issue.open {
  display: block;
}
.new-issue .toolbar {
  margin-top: 10px;
  margin-bottom: 0;
  text-align: right;
}
#issues a:first-child {
  border-top: none;
}
.plusone {
  padding: 3px 8px;
  border-radius: 25px;
  color: #4285f4;
  background: #fff;
  transition: all ease 0.3s;
  display: inline-block;
  margin: 0;
  font-size: .9em;
}
.plusone:hover,
.plusone.active {
  color: #fff;
  background: #4285f4;
}
a.issue {
  padding: 10px;
  font-size: 15px;
  display: block;
  transition: all ease 0.1s;
  color: #7C7B7B;
  background: #fff;
  border-top: 1px solid #ccc;
}
a.issue:hover {
  /*background: #f3f3f3;*/

  color: #333;
}
a.issue div.type a {
  color: #333;
}
a.issue div.type .icon {
  background: #504F4F;
  color: #fff;
  border-radius: 50px;
  padding: 0px 4px 0px 3px;
  display: inline-block;
  margin: 0;
  margin-right: 20px;
}
/*.issues {
    margin-bottom: 20px;

    

    .votes {
        background: #eee;
        float: left;
        width: 80px;
        margin-right: 10px;

        .count {
            text-align: center;
            margin: 5px 0;
        }

        .vote {
            text-align: center;
            cursor: pointer;
            margin: 0;
            background: #dedede;

            &:hover {
                background: @success;
                color: #fff;
            }

            &.disabled {
                background: #dedede;
                color: darken(#eee,15%);
                cursor: default;
            }
        }
    }

    .issue {
        position: relative;

        h3 {
            margin: 5px 0;
        }

        .description {
            margin: 0;
        }

        .badge {
            position: absolute;
            top: 11px;
            right: 10px;
            width: 50px;
            height: 50px;
            border-radius: 50% 50% 50% 50%;
            text-align: center;
            font-size: 1.4em;
            line-height: 50px;
            color: #fff;
            background-color: #999999;
            font-family: Arial, sans-serif;

            &.bug {
                background: @error;
            }

            &.feature {
                background: @warning;
            }
        }
    }
}*/
.follow-wrapper {
  margin-top: 10px;
}
.follow-wrapper p {
  margin: 0;
  text-align: center;
}
.projects .project {
  padding: 10px;
  float: none;
  width: 100%;
}
@media (min-width: 768px) {
  .projects .project {
    width: 50%;
    float: left;
  }
}
@media (min-width: 992px) {
  .projects .project {
    width: 33.333333333333336%;
    float: left;
  }
}
.projects .panel-body {
  position: relative;
}
.projects .panel-body .text-overlay {
  display: block;
  position: absolute;
  bottom: 25px;
  left: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-linear-gradient(bottom, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
}
.issue-type li .badge {
  width: 40px;
  height: 40px;
  border-radius: 50% 50% 50% 50%;
  text-align: center;
  font-size: 1.2em;
  line-height: 40px;
  color: #fff;
  background-color: #999999;
  cursor: pointer;
}
.issue-type li .badge.selected.bug {
  background: #b94a48;
}
.issue-type li .badge.selected.feature {
  background: #f89406;
}
/*BOOTSTRAP OVERRIEDS*/
.modal-content {
  border-radius: 0;
}
.modal-dialog {
  margin: 60px auto;
}
.modal-dialog .modal-header .fill {
  width: 97%;
}
.panel {
  margin-bottom: 0;
}
.timeline {
  position: relative;
  padding: 20px 0 20px;
  list-style: none;
}
.timeline:before {
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 3px;
  margin-left: -1.5px;
  background-color: #eeeeee;
}
.timeline > li {
  position: relative;
  margin-bottom: 20px;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  float: left;
  position: relative;
  width: 45%;
  padding: 20px;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-sizing: border-box;
}
.timeline > li > .timeline-panel .timeline-heading p {
  margin: 0;
  border-bottom: 1px solid #d4d4d4;
}
.timeline > li > .timeline-panel:before {
  content: " ";
  display: inline-block;
  position: absolute;
  top: 26px;
  right: -15px;
  border-top: 15px solid transparent;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #ccc;
}
.timeline > li > .timeline-panel:after {
  content: " ";
  display: inline-block;
  position: absolute;
  top: 27px;
  right: -14px;
  border-top: 14px solid transparent;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  border-left: 14px solid #fff;
}
.timeline > li > .timeline-badge,
.explanation div.timeline-badge {
  z-index: 100;
  position: absolute;
  top: 16px;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-left: -25px;
  border-radius: 50% 50% 50% 50%;
  text-align: center;
  font-size: .7em;
  line-height: 50px;
  color: #fff;
  background-color: #999999;
}
.timeline > li > .timeline-badge.beta,
.explanation div.timeline-badge.beta {
  background: #b94a48;
}
.timeline > li > .timeline-badge.major,
.explanation div.timeline-badge.major {
  background: #467888;
}
.timeline > li > .timeline-badge.minor,
.explanation div.timeline-badge.minor {
  background: #f89406;
}
.explanation div.timeline-badge {
  position: static;
  left: auto;
  top: auto;
  margin-left: 0;
  margin-right: 10px;
  cursor: pointer;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}
.timeline-badge.primary {
  background-color: #2e6da4 !important;
}
.timeline-badge.success {
  background-color: #3f903f !important;
}
.timeline-badge.warning {
  background-color: #f0ad4e !important;
}
.timeline-badge.danger {
  background-color: #d9534f !important;
}
.timeline-badge.info {
  background-color: #5bc0de !important;
}
.timeline-title {
  margin-top: 0;
  margin-bottom: 0;
  color: inherit;
}
.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}
.timeline-body span {
  color: #d4d4d4;
  font-size: .9em;
  font-style: italic;
}
.timeline-body > p + p {
  margin-top: 5px;
}
