@font-face {
  font-family: 'RobotoRegular';
  src: url('font/Roboto-Regular-webfont.eot');
  src: url('font/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('font/Roboto-Regular-webfont.woff') format('woff'), url('font/Roboto-Regular-webfont.ttf') format('truetype'), url('font/Roboto-Regular-webfont.svg#RobotoRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoItalic';
  src: url('font/Roboto-Italic-webfont.eot');
  src: url('font/Roboto-Italic-webfont.eot?#iefix') format('embedded-opentype'), url('font/Roboto-Italic-webfont.woff') format('woff'), url('font/Roboto-Italic-webfont.ttf') format('truetype'), url('font/Roboto-Italic-webfont.svg#RobotoItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoBold';
  src: url('font/Roboto-Bold-webfont.eot');
  src: url('font/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('font/Roboto-Bold-webfont.woff') format('woff'), url('font/Roboto-Bold-webfont.ttf') format('truetype'), url('font/Roboto-Bold-webfont.svg#RobotoBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoBoldItalic';
  src: url('font/Roboto-BoldItalic-webfont.eot');
  src: url('font/Roboto-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'), url('font/Roboto-BoldItalic-webfont.woff') format('woff'), url('font/Roboto-BoldItalic-webfont.ttf') format('truetype'), url('font/Roboto-BoldItalic-webfont.svg#RobotoBoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoCondensed';
  src: url('font/Roboto-Condensed-webfont.eot');
  src: url('font/Roboto-Condensed-webfont.eot?#iefix') format('embedded-opentype'), url('font/Roboto-Condensed-webfont.woff') format('woff'), url('font/Roboto-Condensed-webfont.ttf') format('truetype'), url('font/Roboto-Condensed-webfont.svg#RobotoCondensed') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoCondensedItalic';
  src: url('font/Roboto-CondensedItalic-webfont.eot');
  src: url('font/Roboto-CondensedItalic-webfont.eot?#iefix') format('embedded-opentype'), url('font/Roboto-CondensedItalic-webfont.woff') format('woff'), url('font/Roboto-CondensedItalic-webfont.ttf') format('truetype'), url('font/Roboto-CondensedItalic-webfont.svg#RobotoCondensedItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoBoldCondensed';
  src: url('font/Roboto-BoldCondensed-webfont.eot');
  src: url('font/Roboto-BoldCondensed-webfont.eot?#iefix') format('embedded-opentype'), url('font/Roboto-BoldCondensed-webfont.woff') format('woff'), url('font/Roboto-BoldCondensed-webfont.ttf') format('truetype'), url('font/Roboto-BoldCondensed-webfont.svg#RobotoBoldCondensed') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoBoldCondensedItalic';
  src: url('font/Roboto-BoldCondensedItalic-webfont.eot');
  src: url('font/Roboto-BoldCondensedItalic-webfont.eot?#iefix') format('embedded-opentype'), url('font/Roboto-BoldCondensedItalic-webfont.woff') format('woff'), url('font/Roboto-BoldCondensedItalic-webfont.ttf') format('truetype'), url('font/Roboto-BoldCondensedItalic-webfont.svg#RobotoBoldCondensedItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoThin';
  src: url('font/Roboto-Thin-webfont.eot');
  src: url('font/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'), url('font/Roboto-Thin-webfont.woff') format('woff'), url('font/Roboto-Thin-webfont.ttf') format('truetype'), url('font/Roboto-Thin-webfont.svg#RobotoThin') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoThinItalic';
  src: url('font/Roboto-ThinItalic-webfont.eot');
  src: url('font/Roboto-ThinItalic-webfont.eot?#iefix') format('embedded-opentype'), url('font/Roboto-ThinItalic-webfont.woff') format('woff'), url('font/Roboto-ThinItalic-webfont.ttf') format('truetype'), url('font/Roboto-ThinItalic-webfont.svg#RobotoThinItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoLight';
  src: url('font/Roboto-Light-webfont.eot');
  src: url('font/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'), url('font/Roboto-Light-webfont.woff') format('woff'), url('font/Roboto-Light-webfont.ttf') format('truetype'), url('font/Roboto-Light-webfont.svg#RobotoLight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoLightItalic';
  src: url('font/Roboto-LightItalic-webfont.eot');
  src: url('font/Roboto-LightItalic-webfont.eot?#iefix') format('embedded-opentype'), url('font/Roboto-LightItalic-webfont.woff') format('woff'), url('font/Roboto-LightItalic-webfont.ttf') format('truetype'), url('font/Roboto-LightItalic-webfont.svg#RobotoLightItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoMedium';
  src: url('font/Roboto-Medium-webfont.eot');
  src: url('font/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'), url('font/Roboto-Medium-webfont.woff') format('woff'), url('font/Roboto-Medium-webfont.ttf') format('truetype'), url('font/Roboto-Medium-webfont.svg#RobotoMedium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoMediumItalic';
  src: url('font/Roboto-MediumItalic-webfont.eot');
  src: url('font/Roboto-MediumItalic-webfont.eot?#iefix') format('embedded-opentype'), url('font/Roboto-MediumItalic-webfont.woff') format('woff'), url('font/Roboto-MediumItalic-webfont.ttf') format('truetype'), url('font/Roboto-MediumItalic-webfont.svg#RobotoMediumItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoBlack';
  src: url('font/Roboto-Black-webfont.eot');
  src: url('font/Roboto-Black-webfont.eot?#iefix') format('embedded-opentype'), url('font/Roboto-Black-webfont.woff') format('woff'), url('font/Roboto-Black-webfont.ttf') format('truetype'), url('font/Roboto-Black-webfont.svg#RobotoBlack') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoBlackItalic';
  src: url('font/Roboto-BlackItalic-webfont.eot');
  src: url('font/Roboto-BlackItalic-webfont.eot?#iefix') format('embedded-opentype'), url('font/Roboto-BlackItalic-webfont.woff') format('woff'), url('font/Roboto-BlackItalic-webfont.ttf') format('truetype'), url('font/Roboto-BlackItalic-webfont.svg#RobotoBlackItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
.clearfix {
  content: '';
  display: block;
  clear: both;
}
body {
  background: #eeeeee;
  color: #333333;
  font: 17px/26px 'RobotoRegular', Arial, sans-serif;
}
ul.unstyled {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1 {
  font-family: 'RobotoLight', Arial, sans-serif;
  margin: 5px 0 10px 0;
  font-size: 50px;
  line-height: 52px;
}
h1 .strong {
  font-family: 'RobotoBoldCondensed', Arial, sans-serif;
}
h2 {
  font-family: 'RobotoLight', Arial, sans-serif;
  margin: 5px 0 10px 0;
  font-size: 44px;
  line-height: 46px;
}
h2 .strong {
  font-family: 'RobotoBoldCondensed', Arial, sans-serif;
}
h3 {
  font-family: 'RobotoLight', Arial, sans-serif;
  margin: 5px 0 10px 0;
  font-size: 38px;
  line-height: 40px;
}
h3 .strong {
  font-family: 'RobotoBoldCondensed', Arial, sans-serif;
}
h4 {
  font-family: 'RobotoLight', Arial, sans-serif;
  margin: 5px 0 10px 0;
  font-size: 32px;
  line-height: 34px;
}
h4 .strong {
  font-family: 'RobotoBoldCondensed', Arial, sans-serif;
}
h5 {
  font-family: 'RobotoLight', Arial, sans-serif;
  margin: 5px 0 10px 0;
  font-size: 26px;
  line-height: 28px;
}
h5 .strong {
  font-family: 'RobotoBoldCondensed', Arial, sans-serif;
}
h6 {
  font-family: 'RobotoLight', Arial, sans-serif;
  margin: 5px 0 10px 0;
  font-size: 20px;
  line-height: 22px;
}
h6 .strong {
  font-family: 'RobotoBoldCondensed', Arial, sans-serif;
}
input,
textarea {
  background: #ffffff;
  border: 0;
  padding: 10px;
  width: 320px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
input:hover,
textarea:hover {
  background: #fafafa;
}
input:focus,
textarea:focus {
  outline: none;
}
input.parsley-error,
textarea.parsley-error {
  background: #f1dcdc;
  color: #b94a48;
}
ul.parsley-error-list {
  display: none;
}
a {
  color: #467888;
  text-decoration: none;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
a:hover {
  color: #8ab5c3;
}
footer.container .wrapper {
  margin-top: 25px;
  margin-bottom: 25px;
  color: #aeaeae;
}
footer.container .wrapper section {
  float: left;
  width: 25%;
}
footer.container .wrapper section:last-child:after {
  content: '';
  display: block;
  clear: both;
}
footer.container .wrapper h6 {
  text-shadow: 0 1px 0 #fff;
}
.container {
  max-width: 1300px;
  margin: 0 auto;
  position: relative;
}
.container .inner {
  background: #fff;
  padding: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
p:first-child {
  margin-top: 5px;
}
nav.top-nav {
  top: 0;
  left: 0;
  right: 0;
}
nav.top-nav h3.logo {
  color: #333;
  text-shadow: 0 1px 0 #fff;
  font-family: 'Emblema One', cursive;
  display: inline-block;
  margin: 7px 0;
}
nav.top-nav.cover {
  position: absolute;
  z-index: 1000;
}
nav.top-nav.cover .container {
  background: rgba(0, 0, 0, 0.5);
  padding: 0 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
nav.top-nav.cover .container a {
  color: #fff;
}
nav.top-nav.cover .container a.hover {
  color: #467888;
}
nav.top-nav.cover h1.logo {
  color: #fff;
}
nav.top-nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
nav.top-nav ul:after {
  content: '';
  display: block;
  clear: both;
}
nav.top-nav ul li {
  float: left;
  vertical-align: middle;
  padding: 14px 5px;
}
nav.top-nav ul li.active {
  background: #fff;
}
nav.top-nav ul li a {
  display: block;
}
nav.top-nav ul li a .badge {
  background: #343434;
  font-size: 12px;
  color: #fff;
  display: inline-block;
  margin-left: 3px;
  padding: 0px 5px;
  border-radius: 11px;
  line-height: 22px;
  vertical-align: top;
  text-align: center;
  min-width: 23px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
nav.top-nav ul li a img {
  vertical-align: bottom;
  border-radius: 15px;
  height: 26px;
}
.jumbo {
  max-height: 600px;
  overflow: hidden;
  text-align: center;
}
.jumbo img {
  max-width: 100%;
  display: block;
}
.wrapper {
  position: relative;
  width: 90%;
  left: 50%;
  margin-left: -45%;
  box-sizing: border-box;
  margin-top: -140px;
}
.wrapper .nav {
  background: rgba(255, 255, 255, 0.5);
}
.wrapper .nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.wrapper .nav ul:after {
  content: '';
  display: block;
  clear: both;
}
.wrapper .nav ul li {
  float: left;
}
.wrapper .nav ul li.active {
  background: #fff;
}
.wrapper .nav ul li a {
  color: #333333;
  padding: 15px 20px;
  display: block;
}
.wrapper .nav ul li a .badge {
  background: #343434;
  font-size: 12px;
  color: #fff;
  display: inline-block;
  margin-left: 3px;
  padding: 0px 5px;
  border-radius: 11px;
  line-height: 22px;
  vertical-align: top;
  text-align: center;
  min-width: 23px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.wrapper .nav ul li a:hover {
  background: #fff;
}
.wrapper .inner {
  background: #fff;
  padding: 20px 30px;
}
.wrapper .inner:after {
  content: '';
  display: block;
  clear: both;
}
.content {
  width: 65%;
  margin-right: 2.5%;
  float: left;
}
.sidebar {
  width: 30%;
  margin-left: 2.5%;
  float: left;
}
.sidebar:after {
  content: '';
  display: block;
  clear: both;
}
.box {
  background: #eeeeee;
  padding: 15px;
}
.box section {
  margin-bottom: 10px;
}
.box section label {
  display: block;
}
.btn {
  background: #808080;
  color: #fff;
  padding: 10px 15px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  border: 0;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.btn.btn-inline {
  display: inline;
}
.btn.btn-fill {
  display: block;
}
.btn:hover {
  background: #8d8d8d;
}
.btn:active {
  background: #737373;
}
.btn:disabled {
  background: #d9d9d9;
  cursor: default;
}
.btn.btn-success {
  background: #468847;
  color: #fff;
  padding: 10px 15px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  border: 0;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.btn.btn-success.btn-inline {
  display: inline;
}
.btn.btn-success.btn-fill {
  display: block;
}
.btn.btn-success:hover {
  background: #4f9950;
}
.btn.btn-success:active {
  background: #3d773e;
}
.btn.btn-success:disabled {
  background: #acd4ad;
  cursor: default;
}
.btn.btn-error {
  background: #b94a48;
  color: #fff;
  padding: 10px 15px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  border: 0;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.btn.btn-error.btn-inline {
  display: inline;
}
.btn.btn-error.btn-fill {
  display: block;
}
.btn.btn-error:hover {
  background: #c05c5a;
}
.btn.btn-error:active {
  background: #a74240;
}
.btn.btn-error:disabled {
  background: #eacac9;
  cursor: default;
}
.btn.btn-warning {
  background: #f89406;
  color: #fff;
  padding: 10px 15px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  border: 0;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.btn.btn-warning.btn-inline {
  display: inline;
}
.btn.btn-warning.btn-fill {
  display: block;
}
.btn.btn-warning:hover {
  background: #fa9f1e;
}
.btn.btn-warning:active {
  background: #df8505;
}
.btn.btn-warning:disabled {
  background: #fddfb3;
  cursor: default;
}
.btn.btn-primary {
  background: #467888;
  color: #fff;
  padding: 10px 15px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  border: 0;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.btn.btn-primary.btn-inline {
  display: inline;
}
.btn.btn-primary.btn-fill {
  display: block;
}
.btn.btn-primary:hover {
  background: #4f8799;
}
.btn.btn-primary:active {
  background: #3d6977;
}
.btn.btn-primary:disabled {
  background: #accbd4;
  cursor: default;
}
.gravatar {
  vertical-align: top;
  width: 40px;
  height: 40px;
  display: none;
}
/* ------------------------- Password strength ----------------------- */
.password-strength {
  background: #ddd;
  width: 320px;
  height: 4px;
  position: relative;
  margin-bottom: 9px;
}
.password-strength .bar {
  position: absolute;
  background: blue;
  height: 4px;
}
.password-strength .separator {
  position: absolute;
  width: 2px;
  background: #fff;
  height: 4px;
}
/*TYPEHEAD*/
#autocompleteUser-footer {
  display: none;
}
.tt-dropdown-menu {
  width: 100%;
  background: #fff;
}
.tt-dropdown-menu #autocompleteUser-footer {
  display: block;
}
.tt-dropdown-menu #autocompleteUser-footer p {
  margin: 0;
  text-align: center;
  font-size: 13px;
  line-height: 15px;
}
.tt-dropdown-menu .tt-suggestions .tt-suggestion {
  padding: 5px;
}
.tt-dropdown-menu .tt-suggestions .tt-suggestion.tt-is-under-cursor {
  background: #eee;
}
.tt-dropdown-menu .tt-suggestions .tt-suggestion img.userImage {
  vertical-align: middle;
  margin-right: 7px;
}
.tt-dropdown-menu .tt-suggestions .tt-suggestion p.userName {
  display: inline-block;
  margin: 0;
}
.team-member {
  border-bottom: 1px solid #eee;
}
.team-member:last-child {
  border-bottom: none;
}
.team-member img {
  float: left;
  margin-right: 10px;
  margin-top: 5px;
}
.team-member div:after {
  content: '';
  display: block;
  clear: both;
}
.team-member div p {
  margin: 0;
}
