@import "fonts.less";
@buttonColor: #808080;
@backgroundColor: #eee;
@containerBackground: #fff;
@fontColor: #333;
@headerFont: 'RobotoLight', Arial, sans-serif;
@headerFontBold: 'RobotoBoldCondensed', Arial, sans-serif;
@headerMargin: 5px 0 10px 0;
@headerFontSize: 50px;
@success: #468847;
@warning: #F89406;
@error: #B94A48;
@primary: #467888;
@footerBackground: #333;
@slideoutMenuWidth: 200px;
@actionbarHeight: 47px;

@actionbarBackground: #1fa67a;


@tablet: ~"min-width: 768px";
@desktop: ~"min-width: 992px";
@mobile: ~"max-width: 480px";



/*@media(max-width:767px){}
@media(min-width:768px){}
@media(min-width:992px){}
@media(min-width:1200px){}*/

.header(@size: 0px) {
    font-family: @headerFont;
    margin: @headerMargin;
    font-size: (@headerFontSize - @size);
    line-height: ((@headerFontSize - @size) + 2);

    .strong {
        font-family: @headerFontBold;
    }
}

.transition(@time: .5s) {
    transition: all ease @time;
}

.clearfix {
    content: '';
    display: block;
    clear: both;
}


body {
    background: @backgroundColor;
    color: @fontColor;
    font: 17px/26px 'RobotoRegular', Arial, sans-serif;
    padding-top: @actionbarHeight * 2;
}

.background {
    &.error {
        background: @error;
    }

    &.warning {
        background: @warning;
    }
}

ul {
    &.unstyled {
        list-style-type: none;
        margin: 0;
        padding: 0;

        &.inline {
            li {
                display: inline-block;
            }
        }
    }
}

h1 {
    .header()
}

h2 {
    .header(6px)
}

h3 {
    .header(12px)
}

h4 {
    .header(18px)
}

h5 {
    .header(24px)
}

h6 {
    .header(30px)
}

input, textarea, select, label {
    background: @containerBackground;
    border: 0;
    padding: 10px;
    width: 320px;
    resize: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid transparent;
    .transition();
    /*&:hover {
        background: darken(@containerBackground,2%);
    }*/
    &:focus {
        outline: none;
        border-bottom: 1px solid @actionbarBackground;
    }

    &.fill {
        display: block;
        width: 100%;
    }

    &.parsley-error {
        background: lighten(@error,40%);
        color: @error;
    }
}

    input[type=checkbox] {
        width: auto;
    }

ul.parsley-error-list {
    display: none;
}

a {
    color: @primary;
    text-decoration: none;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;

    &:hover {
        color: lighten(@primary,25%);
    }
}

footer {
    background: @footerBackground;
    margin-top: 50px;

    .container {
        .wrapper {
            margin-top: 25px;
            margin-bottom: 25px;
            color: darken(@backgroundColor,25%);

            section {
                float: left;
                width: 25%;

                &:last-child {
                    &:after {
                        .clearfix
                    }
                }
            }

            h6 {
                text-shadow: 0 1px 0 #fff;
            }
        }
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;

    .inner {
        background: #fff;
        padding: 20px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        position: relative;
    }
}

p:first-child {
    margin-top: 5px;
}

.form-row {
    padding: 10px;


    .inner {
        padding: 10px;
        background: #fff;
    }

    &.half {
        float: none;
        width: 100%;

        @media(@tablet) {
            float: left;
            width: 50%;
        }

        @media(@desktop) {
            float: left;
            width: 50%;
        }

        &:after {
            .clearfix();
        }
    }
}

.form-row-group {
    &:after {
        .clearfix();
    }
}

section {
    &.slideout-menu {
        position: fixed;
        top: @actionbarHeight;
        left: -@slideoutMenuWidth;
        width: @slideoutMenuWidth;
        bottom: 0;
        background: #fff;
        //padding: 10px;
        box-sizing: border-box;
        border-right: 1px solid #dedede;
        z-index: 10;
        .transition(.25s);

        &.open {
            left: 0;
        }

        nav {
            padding: 10px;

            a {
                display: block;
            }
        }

        ul {

            li {
                a {
                    display: block;
                    padding: 5px;
                }

                &.button {
                    text-align: center;
                    margin-top: 20px;

                    a {
                        .button(@success)
                    }
                }
            }
        }

        .nav-item {
            display: none;
            margin-bottom: 2px;

            @media(@mobile) {
                display: block;
            }
        }

        .user {
            text-align: center;
            border-bottom: 1px solid #dedede;
            padding: 10px;
            .transition();

            .user-image {
                position: relative;

                i {
                    opacity: 0;
                    position: absolute;
                    left: 40%;
                    top: 27%;
                    color: #fff;
                    .transition();
                }

                img {
                    border-radius: 70px;
                    border: 5px solid #fff;
                    box-shadow: 0 0 16px rgba(0,0,0,.1);
                }
            }

            .user-displayname {
                margin: 0;
            }

            &:hover {
                background: #f3f3f3;

                i {
                    opacity: 1;
                }
            }
        }
    }
}

img.user-image {
    border-radius: 70px;
    border: 5px solid #fff;
    box-shadow: 0 0 16px rgba(0,0,0,.1);
}


nav.top-nav {
    top: 0;
    left: 0;
    right: 0;
    background: @actionbarBackground;
    border-bottom: 1px solid darken(@actionbarBackground,7%);
    color: #fff;
    padding: 0 10px;
    position: fixed;
    z-index: 10000;
    cursor: default;


    .primary {
        display: inline-block;

        p {
            margin: 0;
            padding: 0;
            display: inline-block;
            .transition(.3s);
            cursor: pointer;

            &:hover {
                background: rgba(255,255,255, .2);
            }

            &:active {
                background: rgba(255,255,255, .4);
            }

            &.slideout-toggler {
                padding: 3px 5px 3px 6px;
                border-radius: 25px;

                &.open {
                    background: rgba(255,255,255, .4);
                }
            }

            &.logo {
                padding: 10px;
            }
        }
    }

    .middle {
        display: inline-block;

        .nav-item {
            margin: 0;
            padding: 0;
            .transition(.3s);
            cursor: pointer;
            display: inline-block;

            @media(@mobile) {
                display: none;
            }


            a {
                display: inline-block;
                color: #fff;
                text-decoration: none;
                padding: 10px;

                &:hover {
                    background: rgba(255,255,255, .2);
                }

                &:active {
                    background: rgba(255,255,255, .4);
                }
            }
        }
    }

    .secondary {
        float: right;
    }

    h3.logo {
        color: #333;
        text-shadow: 0 1px 0 #fff;
        font-family: 'Emblema One', cursive;
        display: inline-block;
        margin: 7px 0;
    }

    &.cover {
        position: absolute;
        z-index: 1000;

        .container {
            background: rgba(0,0,0,.5);
            padding: 0 15px;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;

            a {
                color: #fff;

                &.hover {
                    color: @primary;
                }
            }
        }

        h1.logo {
            color: #fff;
        }
    }

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;

        &:after {
            .clearfix;
        }

        li {
            float: left;
            vertical-align: middle;
            padding: 14px 5px;

            &.active {
                background: #fff;
            }

            a {
                display: block;

                .badge {
                    background: darken(@buttonColor,30%);
                    font-size: 12px;
                    color: #fff;
                    display: inline-block;
                    margin-left: 3px;
                    padding: 0px 5px;
                    border-radius: 11px;
                    line-height: 22px;
                    vertical-align: top;
                    text-align: center;
                    min-width: 23px;
                    -moz-box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                    font-family: Arial, sans-serif;
                }

                img {
                    vertical-align: bottom;
                    border-radius: 15px;
                    height: 26px;
                }
            }
        }
    }
}



.jumbo {
    max-height: 600px;
    overflow: hidden;
    text-align: center;

    img {
        max-width: 100%;
        display: block;
    }
}

.wrapper {
    position: relative;
    width: 90%;
    left: 50%;
    margin-left: -45%;
    box-sizing: border-box;
    margin-top: -140px;

    .nav {
        background: rgba(255,255,255, .5);

        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;

            &:after {
                .clearfix;
            }

            li {
                float: left;

                &.active {
                    background: #fff;
                }

                a, p {
                    color: @fontColor;
                    padding: 15px 20px;
                    display: block;

                    .badge {
                        background: darken(@buttonColor,30%);
                        font-size: 12px;
                        color: #fff;
                        display: inline-block;
                        margin-left: 3px;
                        padding: 0px 5px;
                        border-radius: 11px;
                        line-height: 22px;
                        vertical-align: top;
                        text-align: center;
                        min-width: 23px;
                        -moz-box-sizing: border-box;
                        -webkit-box-sizing: border-box;
                        box-sizing: border-box;
                        font-family: Arial, sans-serif;
                    }

                    &:hover {
                        background: #fff;
                    }
                }

                p {
                    margin: 0;
                    cursor: default;
                }
            }
        }
    }

    .inner {
        background: #fff;
        padding: 20px 30px;

        &:after {
            .clearfix();
        }
    }
}

.content {
    width: 65%;
    margin-right: 2.5%;
    float: left;
    position: relative;
    min-height: 470px;

    &.full {
        width: 100%;
        margin-right: 0;
        float: none;
    }
}

.sidebar {
    width: 30%;
    margin-left: 2.5%;
    float: left;

    .menu {
        margin-top: 15px;
    }

    &:after {
        .clearfix;
    }
}

.box {
    background: @backgroundColor;
    padding: 15px;

    section {
        margin-bottom: 10px;

        label {
            display: block;
        }
    }
}


.button(@color: @buttonColor) {
    background: @color;
    color: #fff;
    padding: 10px 15px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    border: 0;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    border-radius: 0;

    i {
        margin-right: 5px;
    }

    &.btn-inline {
        display: inline;
    }

    &.btn-fill {
        display: block;
        width: 100%;
    }

    &:hover {
        background: lighten(@color, 5%);
        color: #fff;
    }

    &:active, &:focus, &:active&:focus {
        background: darken(@color, 5%);
        color: #fff;
        box-shadow: none;
        outline: none;
    }

    &:disabled {
        background: lighten(@color, 35%);
        cursor: default;
    }
}


/*.btn {
    .button();

    &.btn-success {
        .button(@success);
    }

    &.btn-error {
        .button(@error);
    }

    &.btn-warning {
        .button(@warning);
    }

    &.btn-primary {
        .button(@primary);
    }
}*/




.gravatar {
    vertical-align: top;
    width: 40px;
    height: 40px;
    display: none;
}


/* ------------------------- Password strength ----------------------- */
.password-strength {
    background: #ddd;
    width: 320px;
    height: 4px;
    position: relative;
    margin-bottom: 9px;

    .bar {
        position: absolute;
        background: blue;
        height: 4px;
    }

    .separator {
        position: absolute;
        width: 2px;
        background: #fff;
        height: 4px;
    }
}




/*TYPEHEAD*/

#autocompleteUser-footer {
    display: none;
}

.tt-dropdown-menu {
    width: 100%;
    background: #fff;

    #autocompleteUser-footer {
        display: block;

        p {
            margin: 0;
            text-align: center;
            font-size: 13px;
            line-height: 15px;
        }
    }

    .tt-suggestions {
        .tt-suggestion {
            padding: 5px;

            &.tt-is-under-cursor {
                background: #eee;
            }

            img.userImage {
                vertical-align: middle;
                margin-right: 7px;
            }

            p.userName {
                display: inline-block;
                margin: 0;
            }
        }
    }
}



.team-member {
    border-bottom: 1px solid #eee;

    &:last-child {
        border-bottom: none;
    }

    img {
        float: left;
        margin-right: 10px;
    }

    div {
        &:after {
            .clearfix;
        }

        p {
            margin: 0;
        }
    }
}

.admin-wrapper {
    /*margin-top: 30px;*/
}

.new-issue {
    background: #efefef;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;

    &.open {
        display: block;
    }

    .toolbar {
        margin-top: 10px;
        margin-bottom: 0;
        text-align: right;
    }
}

#issues {
    a:first-child {
        border-top: none;
    }
}

a {
    &.issue {
        padding: 10px;
        font-size: 15px;
        display: block;
        .transition(.1s);
        color: #7C7B7B;
        background: #fff;
        border-top: 1px solid #ccc;

        &:hover {
            /*background: #f3f3f3;*/
            color: #333;
        }

        div {
            &.type {
                a {
                    color: #333;
                }

                .icon {
                    background: #504F4F;
                    color: #fff;
                    border-radius: 50px;
                    padding: 0px 4px 0px 3px;
                    display: inline-block;
                    margin: 0;
                    margin-right: 20px;
                }
            }
        }
    }
}

/*.issues {
    margin-bottom: 20px;

    

    .votes {
        background: #eee;
        float: left;
        width: 80px;
        margin-right: 10px;

        .count {
            text-align: center;
            margin: 5px 0;
        }

        .vote {
            text-align: center;
            cursor: pointer;
            margin: 0;
            background: #dedede;

            &:hover {
                background: @success;
                color: #fff;
            }

            &.disabled {
                background: #dedede;
                color: darken(#eee,15%);
                cursor: default;
            }
        }
    }

    .issue {
        position: relative;

        h3 {
            margin: 5px 0;
        }

        .description {
            margin: 0;
        }

        .badge {
            position: absolute;
            top: 11px;
            right: 10px;
            width: 50px;
            height: 50px;
            border-radius: 50% 50% 50% 50%;
            text-align: center;
            font-size: 1.4em;
            line-height: 50px;
            color: #fff;
            background-color: #999999;
            font-family: Arial, sans-serif;

            &.bug {
                background: @error;
            }

            &.feature {
                background: @warning;
            }
        }
    }
}*/

.follow-wrapper {
    margin-top: 10px;

    p {
        margin: 0;
        text-align: center;
    }
}

.projects {
    .project {
        padding: 10px;
        float: none;
        width: 100%;

        @media(@tablet) {
            width: 100% / 2;
            float: left;
        }

        @media(@desktop) {
            width: 100% / 3;
            float: left;
        }
    }
}

.issue-type {
    li {
        .badge {
            width: 40px;
            height: 40px;
            border-radius: 50% 50% 50% 50%;
            text-align: center;
            font-size: 1.2em;
            line-height: 40px;
            color: #fff;
            background-color: #999999;
            cursor: pointer;

            &.selected.bug {
                background: @error;
            }

            &.selected.feature {
                background: @warning;
            }
        }
    }
}


/*BOOTSTRAP OVERRIEDS*/

.modal-content {
    border-radius: 0;
}

.modal-dialog {
    margin: 60px auto;

    .modal-header {
        .fill {
            width: 97%;
        }
    }
}




@import "Timeline.less";
