@model ProjectZ.Web.Models.Project

@{
    ViewBag.Title = "Create";
}

<div class="inner">
    <h2>Create project</h2>
    <form action="/project/create" id="register" method="POST" parsley-validate novalidate>
        <div class="box">
            <section>
                <label>Name</label>
                @Html.TextBoxFor(x=>x.Name, new{@required="required"})
            </section>
            <section>
                <label>Description</label>
                <textarea cols="50" rows="15" name="description" id="description" required></textarea>
            </section>
            <section>
                <label>Your role in the project</label>
                <select name="role" id="role">
                    <option value="0">Developer</option>
                    <option value="1">Desginer</option>
                    <option value="2">Administrative</option>
                </select>
                <input type="hidden" name="isPageAdmin" id="isPageAdmin" value="true" />
            </section>
            <p>
                <input type="submit" value="Create" class="btn btn-success btn-fill" />
            </p>
        </div>
    </form>
</div>
