@model ProjectZ.Web.Models.Project

@{
    ViewBag.Title = "Create";
}

<div class="inner">
    <h2>Create project</h2>
    <form action="/project/create" id="register" method="POST" parsley-validate novalidate>
        <div class="box">
            <section>
                <label>Name</label>
                @Html.TextBoxFor(x=>x.Name, new{@required="required"})
            </section>
            <section>
                <label>Description</label>
                <textarea cols="50" rows="15" required></textarea>
            </section>
            <p>
                <input type="submit" value="Create" class="btn btn-success btn-fill" />
            </p>
        </div>
    </form>
</div>