@model IEnumerable<ProjectZ.Web.Models.Project>

    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

    <ul class="unstyled projects">
        @foreach (var project in Model)
        {
            <li class="project">
                <h1>@Html.ActionLink(project.Name, "Details", new { subdomain = project.Name })</h1>
                <p class="description">
                    @project.Description
                </p>
                <p>
                    <span class="left"><i class="fa fa-heart"></i></span>
                    <span class="right"><i class="fa fa-users"></i></span>
                </p>
            </li>
        }
    </ul>
