@model ProjectZ.Web.Models.Project

@{
    ViewBag.Title = "Manage";
}

<div class="inner">

    <div class="content">
        <h2>Create project</h2>
        <form action="/project/manage" method="POST" parsley-validate novalidate>
            <div class="box">
                <section>
                    <label>Name</label>
                    <input type="text" id="name" name="name" value="@Model.Name" reguired />
                </section>
                <section>
                    <label>Description</label>
                    <textarea cols="50" rows="15" required>@Model.Description</textarea>
                </section>
                <p>
                    <input type="submit" value="Save" class="btn btn-success btn-fill" />
                </p>
            </div>
        </form>
    </div>

    <div class="sidebar">
        <ul>
            <li><a href="#">Test</a></li>
            <li><a href="#">Test</a></li>
            <li><a href="#">Test</a></li>
            <li><a href="#">Test</a></li>
        </ul>
    </div>


</div>
