@using ProjectZ.Web.Helpers
@model ProjectZ.Web.Models.User
<li class="user">
    <a href="/user/@Model.Slug/edit/">
        <div class="user-image">
            <img src="@Model.GetImage(104)"/>
            <i class="fa fa-pencil-square-o fa-3x"></i>
        </div>
        <p class="user-displayname">@Model.UserName</p>
    </a>
</li>

<li>
    <a href="/user/logout">Sign out</a>
</li>

<ul class="projects">
    @foreach(var project in Model.Follows)
    {
        <li><a href="/@project.Id/@project.Name.GenerateSlug()/details"><img src="@ImageUtils.GetLogo(project.Id, ImageUtils.LogoSize.Icon)" class="project-image smaller"/> @project.Name</a></li>
    }
</ul>

