@model ProjectZ.Web.Models.User
<li class="user">
    <a href="/user/@Model.Slug/edit/">
        <div class="user-image">
            <img src="@Model.GetImage(104)"/>
            <i class="fa fa-pencil-square-o fa-3x"></i>
        </div>
        <p class="user-displayname">@Model.UserName</p>
    </a>
</li>

<li>
    <a href="/user/logout">Sign out</a>
</li>

