@model IEnumerable<ProjectZ.Web.Models.User>
@{
    ViewBag.Title = "Index";
}

<div class="users">

@foreach (var user in Model)
    {
        <div class="user">

            <div class="panel panel-default">
            <div class="panel-body text-center">
                <img src="@user.GetImage(100)" class="user-image large"/>
                <h3><a href="/user/@user.Slug">@user.UserName</a></h3>
                </div>
                <div class="panel-footer">
                @*<span class="left"><i class="fa fa-heart"></i>&nbsp;@(project.Followers.Count())</span>
                <span class="right"><i class="fa fa-users"></i>&nbsp;@(project.Admins.Count())</span>*@
            </div>
            </div>
        </div>
    }
    </div>
    