@model ProjectZ.Web.Models.ViewModels.LoginViewModel

@{
    ViewBag.Title = "Login";
}



<div class="box login">
    <h2>Login</h2>
    <form action="/user/login" id="register" method="POST" parsley-validate novalidate>

        <section>
            <input type="text" id="username" class="fill" name="username" value="@Model.Username" placeholder="Username / email" required />
        </section>
        <section>
            <input type="password" id="password"  class="fill" name="password" required placeholder="Password" />
        </section>
        @if (Model.HasError)
        {
            <section>
                @Model.Error
            </section>
        }
        <p class="margin margin-top-15">
            <a href="/user/register" class="button button-primary"><span>Register</span></a>
            <button type="submit" class="button button-success pull-right"><span>Login</span></button>
        </p>
    </form>
</div>
