@model ProjectZ.Web.Models.ViewModels.LoginViewModel

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<div class="box">
    <form action="/user/login" id="register" method="POST" parsley-validate novalidate>

        <section>
            <label>Username / Email</label>
            <input type="text" id="username" name="username" value="@Model.Username" required />
        </section>
        <section>
            <label>Password</label>
            <input type="password" id="password" name="password" required />
        </section>
        @if (Model.HasError)
        {
            <section>
                @Model.Error
            </section>
        }
        <p>
            <a href="/user/register">Register</a>
        </p>
        <p>
            <button type="submit" class="button button-success"><span>Login</span></button>
        </p>
    </form>
</div>
