@model ProjectZ.Web.Models.User
@{
    ViewBag.Title = "Register";
}

<div class="box login">
    <h2>Register</h2>
    <form action="/user/register" id="register" method="POST" parsley-validate novalidate>

            <section>
                <input type="text" name="username" id="username" class="fill" parsley-remote="/user/CheckUsernameAvailability" required placeholder="Username"/>
            </section>
            <section>
                <div>
                    <input type="email" name="email" id="email" class="gravatar-field fill" parsley-remote="/user/CheckEmailAvailability" required parsley-email="email" placeholder="Email" />
                    <a href="javascript:void(0);" style="display: none;" class="showgravatar">Change gravatar email</a>
                </div>


                <div id="gravatar" style="display: none;">
                    <div class="editor-field">
                        <input class="fill" id="GravatarEmail" name="GravatarEmail" type="text" placeholder="Gravatar email">
                    </div>
                </div>
            </section>
            <section>
                <div>
                    @Html.PasswordFor(model => model.Password, new{@class="fill", @required="required", placeholder="Password"})
                <div class="password-strength">
                    <div class="bar">
                    </div>
                    <div class="separator" style="left: 25%">
                    </div>
                    <div class="separator" style="left: 50%">
                    </div>
                    <div class="separator" style="left: 75%">
                    </div>
                </div>
                </div>
            </section>
            <section>
                @Html.TextBoxFor(x=>x.FirstName, new{@class="fill", @required="required", placeholder="First name"})
            </section>
            <section>
                @Html.TextBoxFor(x=>x.LastName, new{@class="fill", @required="required", placeholder="Last name"})
            </section>
            <p class="margin margin-top-15 text-right">
                <button type="submit" class="button button-success"><span>Sign up</span></button>
            </p>
    </form>
</div>
@section scripts {
    <script src="/Scripts/jquery.password_strength.js" type="text/javascript"></script>
<script src="/Scripts/md5.js" type="text/javascript"></script>
<script type="text/javascript">

    $(function () {

        var forms = {
            form: $("#register"),
            password: $('#Password'),
            email: $("#email"),
            gravatarEmail: $("#GravatarEmail")
        };


        forms.form.submit(function () {
            return forms.form.parsley('validate');
        });

        forms.password.password_strength();

        forms.email.blur(function () {
            if ($(".gravatar").is(":visible"))
                return;

            var me = $(this);

            if (me.val().length > 0) {
                setGravatar(me.val());
                $(".gravatar, .showgravatar").fadeIn();
            }
        });

        forms.gravatarEmail.keyup(function () {
            var me = $(this);
            setGravatar(me.val());
            if (me.val().length > 12) {
            }
        });

        $(".showgravatar").click(function () {
            $(this).hide();
            var gravatar = $("#gravatar");
            forms.gravatarEmail.val(forms.email.val());

            gravatar.slideDown();
        });


        var displayGravatar = function (name) {
            return "http://www.gravatar.com/avatar/" + hex_md5(name) + "?s=40&d=mm";
        };

        var setGravatar = function (name) {
            //$(".gravatar").attr("src", );
            $(".gravatar-field").css('background-image', 'url(' + displayGravatar(name) + ')');
            
        };

    });
</script>
}