<div class="panel panel-default" data-bind="with: imageModel">
    <div class="panel-body">
        <ul class="projects unstyled list-inline project-images" data-bind="foreach: images">

            <li class="list-item">
                <img src="" class="thumbnail" data-bind="attr: { 'src': thumbnail }" />
            </li>

        </ul>
    </div>
    <div class="panel-footer">

        <form id="projectImages" action="/Project/UploadProjectImage?enctype=multipart%2Fform-data" method="POST" enctype="multipart/form-data">
            <input type="file" name="uploadedFile" multiple style="display: none;">
            <input type="hidden" name="projectId" id="projectId" data-bind="value: projectId" />
        </form>

        @*        <form action="/Project/Upload?enctype=multipart%2Fform-data" method="post">
            <input name="__RequestVerificationToken" type="hidden" value="Y4hDaSaJ7NUYziS6rEhX05GoYnGp0k0-_a58QUC4g2WZ-KXySgy8WUtjONNr82XYCZn55yybcf6L8iSv6UvxOlqVD7_qRUnminGNoE3ZO7Y1" />
            <input type="file" name="uploadedFile" id="fileupload" /> 
            <input type="hidden" name="projectId" id="projectId" value="projects/481"/>
        </form>*@


        <div id="dropzone-project" class="dropzone">
            <h5>Drop images here to upload to project</h5>
        </div>

    </div>
</div>
