@model IEnumerable<ProjectZ.Web.Models.Question>
<div data-bind="with: questionModel">
    <div class="panel panel-default" data-bind="visible: !isInEditMode()">
        <div class="panel-body">
            
            <ul class="list-unstyled" data-bind="foreach: questions">
                <li class="list-item">
                    <div class="clearfix">
                        <div class="pull-left wrapper" data-bind="click: $parent.editQuestion">
                            <h6 data-bind="text: title" style="margin: 0;"></h6>
                            <p class="text-muted" style="margin: 0; font-size: .9em; line-height: 100%;"><span data-bind="text: answer" style="text-overflow: ellipsis"></span></p>
                        </div>
                        <button class="pull-right button button-error delete" ><span>Delete</span></button>
                    </div>
                </li>
            </ul>
        </div>
        <div class="panel-footer text-right">
            <button class="button button-success" data-bind="click: newQuestion"><span>Add question</span></button>
        </div>
    </div>
        
    <div class="panel panel-default" data-bind="visible: isInEditMode()" style="display: none;">
        <div class="panel-body" data-bind="with: selectedQuestion">
            <div>
                <input type="text" placeholder="Question" class="fill" data-bind="value: title"/>
                <textarea placeholder="Answer" class="fill" rows="5" data-bind="value: answer"></textarea>
            </div>
        </div>
        <div class="panel-footer text-right">
            <button class="button pull-left" data-bind="click: toggleEditMode"><span>Cancel</span></button>
            <button class="button button-success" data-bind="click: save"><span>Save</span></button>
        </div>
    </div>
</div>
    
    