@model IEnumerable<ProjectZ.Web.Models.TeamMember>

<div class="panel panel-default">
    <div class="panel-body">
        <ul class="projects unstyled">
            @foreach (var user in Model)
            {
                <li>
                    <div class="row member">
                        <div class="col-lg-1">
                            <img src="@user.GetImage(42)" class="user-image small"/>
                        </div>
                        <div class="col-lg-8"><strong>@user.UserName</strong>&nbsp;@user.FirstName&nbsp;@user.LastName</div>
                        <div class="col-lg-1">
                            <input type="checkbox" checked="checked" />
                        </div>
                        <div class="col-lg-2 text-right">
                            <i class="fa fa-times delete" data-user-id="@user.UserId"></i>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
    <div class="panel-footer">
        <input type="text" id="txtUsername" placeholder="Username/Email" data-bind="jqAuto: { value: selectedUser, source: getOptions, labelProp: 'UserName', template: 'rowTmpl' }" />
        <!-- ko if: selectedUser() != '' -->
        <select class="inline" data-bind="options: roles, optionsText: 'role', value: role"></select>
        <label class="inline" style="background: transparent;"><input type="checkbox" data-bind="checked: isPageAdmin">Page admin</input></label>
        <!-- /ko-->
        <button class="button button-success pull-right" data-bind="css: { 'button-disabled': selectedUser() == '' }, click: addUser"><span>Add member</span></button>
    </div>
</div>

